@-webkit-keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}
@-moz-keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}
@-ms-keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}
@-o-keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}
@keyframes shakey {
	0% { left: -3px; }
	25% { left: 3px; }
	50% { left: -3px; }
	75% { left: 3px; }
	100% { left: 0; }
}

@-webkit-keyframes glow {
	0% {-webkit-box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
	100% {-webkit-box-shadow: 0 0 15px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
}
@-moz-keyframes glow {
	0% {-moz-box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
	100% {-moz-box-shadow: 0 0 15px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
}
@-ms-keyframes glow {
	0% {-ms-box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
	100% {-ms-box-shadow: 0 0 15px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
}
@-o-keyframes glow {
	0% {-o-box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
	100% {-o-box-shadow: 0 0 15px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
}
@keyframes glow {
	0% {box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
	100% {box-shadow: 0 0 15px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2);}
}


html { overflow-y:scroll; }
*html { overflow-y:scroll; }	/* IE6 Only */
*+html { overflow-y:scroll; }	/* IE7 Only */

html, body { height: 100%; }

body {
	text-align: center;
	background-color:#556 !important;
	background-image:
		-webkit-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-webkit-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-webkit-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-webkit-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-webkit-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
		-webkit-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a) !important;
	background-image:
		-moz-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-moz-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-moz-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-moz-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-moz-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
		-moz-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a) !important;
	background-image:
		-ms-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-ms-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-ms-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-ms-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-ms-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
		-ms-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a) !important;
	background-image:
		-o-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-o-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-o-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-o-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		-o-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
		-o-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a) !important;
	background-image:
		linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
		linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
		linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a) !important;

	-webkit-background-size:80px 140px !important;
	-moz-background-size:80px 140px !important;
	-ms-background-size:80px 140px !important;
	-o-background-size:80px 140px !important;
	background-size:80px 140px !important;

	background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px !important;
}

#login {
	text-align: left;
	margin: 0 auto;
	padding-top: 5.5%;
}

.message {
	position: relative;

	-webkit-opacity: .9;
	-moz-opacity: .9;
	-ms-opacity: .9;
	-o-opacity: .9;
	opacity: .9;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}

.login a { position: relative; }

.login a:active {
	position: relative;
	top: 1px;
}

.login h1 a {
	position: relative;
	background-image: url(../../../wp-content/login/wp-login.png) !important;
	background-position: top center !important;
}

.login h1 a:hover {
	position: relative;

	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
}

.login form {
	position: relative;
	background: #EFEFEF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFEFEF), color-stop(100%,#D0D0D0));
	background: -webkit-linear-gradient(top, #EFEFEF 0%, #D0D0D0 100%);
	background: -moz-linear-gradient(top, #EFEFEF 0%, #D0D0D0 100%);
	background: -ms-linear-gradient(top, #EFEFEF 0%, #D0D0D0 100%);
	background: -o-linear-gradient(top, #EFEFEF 0%, #D0D0D0 100%);
	background: linear-gradient(top, #EFEFEF 0%, #D0D0D0 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#EFEFEF', endColorstr='#D0D0D0');

	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;

	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-ms-border-top-right-radius: 3px;
	-o-border-top-right-radius: 3px;
	border-top-right-radius: 3px;

	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-ms-border-bottom-left-radius: 3px;
	-o-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;

	-webkit-box-shadow: 1px 1px 15px -2px #222, inset 0px 0px 0px 1px #DDD;
	-moz-box-shadow: 1px 1px 15px -2px #222, inset 0px 0px 0px 1px #DDD;
	-ms-box-shadow: 1px 1px 15px -2px #222, inset 0px 0px 0px 1px #DDD;
	-o-box-shadow: 1px 1px 15px -2px #222, inset 0px 0px 0px 1px #DDD;
	box-shadow: 1px 1px 15px -2px #222, inset 0px 0px 0px 1px #DDD;

	-webkit-opacity: .9;
	-moz-opacity: .9;
	-ms-opacity: .9;
	-o-opacity: .9;
	opacity: .9;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}

.login label {
	font-size: 123.1%;
	font-weight: bold;
}

.login #nav, .login #backtoblog { position: relative; }

.login #nav a, .login #backtoblog a {
	color: #333 !important;
	font-size: 108%;
}

.login #backtoblog:hover {
	position: relative;

	-webkit-animation-name: shakey;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: once;
	-webkit-animation-duration: 300ms;
	-moz-animation-name: shakey;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: once;
	-moz-animation-duration: 300ms;
	-ms-animation-name: shakey;
	-ms-animation-timing-function: linear;
	-ms-animation-iteration-count: once;
	-ms-animation-duration: 300ms;
	-o-animation-name: shakey;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: once;
	-o-animation-duration: 300ms;
	animation-name: shakey;
	animation-timing-function: linear;
	animation-iteration-count: once;
	animation-duration: 300ms;
}

.login form input[type="text"], .login form input[type="password"] {
	position: relative;
	font-size: 138.5%;
	border: 1px solid #CCC;
	padding: 2px 5px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: inset 1px 1px 2px 2px rgba(143,143,143,.2);
	-moz-box-shadow: inset 1px 1px 2px 2px rgba(143,143,143,.2);
	-ms-box-shadow: inset 1px 1px 2px 2px rgba(143,143,143,.2);
	-o-box-shadow: inset 1px 1px 2px 2px rgba(143,143,143,.2);
	box-shadow: inset 1px 1px 2px 2px rgba(143,143,143,.2);
}

.login form input[type="submit"] {
	position: relative;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 3px 10px;
	color: #FFF;
	border: solid 1px #646464;
	background-color: #7d7e7d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
	background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
	background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
	background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
	background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
	background-image: linear-gradient(top, #7d7e7d, #0e0e0e);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr='#7d7e7d', endColorstr='#0e0e0e');

	-webkit-text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	-moz-text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	-ms-text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	-o-text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.login form input[type="submit"]:hover,
.login form input[type="submit"]:focus {
	position: relative;
	text-decoration: none;
	color: #FFF;
	border: solid 1px #646464;
	background-color: #646464;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646464), color-stop(100%, #282828));
	background-image: -webkit-linear-gradient(top, #646464, #282828);
	background-image: -moz-linear-gradient(top, #646464, #282828);
	background-image: -ms-linear-gradient(top, #646464, #282828);
	background-image: -o-linear-gradient(top, #646464, #282828);
	background-image: linear-gradient(top, #646464, #282828);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr='#646464', endColorstr='#282828');

	-webkit-transition-duration: .2s !important;
	-moz-transition-duration: .2s !important;
	-ms-transition-duration: .2s !important;
	-o-transition-duration: .2s !important;
	transition-duration: .2s !important;
}

.login form input:hover {
	position: relative;

	-webkit-animation-name: glow;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 500ms;
	-moz-animation-name: glow;
	-moz-animation-timing-function: ease-in;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-duration: 500ms;
	-ms-animation-name: glow;
	-ms-animation-timing-function: ease-in;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: alternate;
	-ms-animation-duration: 500ms;
	-o-animation-name: glow;
	-o-animation-timing-function: ease-in;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
	-o-animation-duration: 500ms;
	animation-name: glow;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 500ms;
}

.login form input:focus {
	position: relative;
	border: solid 1px #A9A9A9 !important;

	-webkit-box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2) !important;
	-moz-box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2) !important;
	-ms-box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2) !important;
	-o-box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2) !important;
	box-shadow: 0 0 5px #888, inset 1px 1px 2px 2px rgba(143,143,143,.2) !important;
}
